<div id="<%= dom_id post %>" class="text-center post-container col-6" style="margin: auto;">
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 200px;") %>
  <% end %>
  <p>
    <%= post.description %>
  </p>
  <p>
    <%= link_to "", post, class:"post-link", style: "z-index" %>
  </p>
</div>
<p>
  <%= link_to post.user.email, post.user, style: "z-index" %>
</p>
<% if user_signed_in? %>
  <% like = current_user.likes.find_by(post: post) %>
  <% if like.nil? %>
    <%= button_to "like", likes_path, params: { like: { post_id: post.id }}, method: :post%>
  <% else %>
    <%= button_to "Unlike", like_path(like), method: :delete %>
  <% end %>
<% end %>
<p> <%= post.likes.count %> Likes </p>
