<div id="<%= dom_id post %>" class="post-container">
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 200px;") %>
  <% end %>
  <p>
    <%= post.description %>
  </p>
  <p>
    <%= link_to "", post, class:"post-link", style: "z-index" %>
  </p>
</div>
<p>
  <%= link_to post.user.email, post.user, style: "z-index" %>
</p>
