<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.title %>
  </p>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>

  <p>
    <%= post.user.email %>
  </p>

  <p>
    <%= link_to "", post, class:"post-link" %>
  </p>
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit: cover; width: 200px; height: 600px;") %>
  <% end %>
</div>
