<%= stylesheet_link_tag("post")%>
<% if user_signed_in? %>
  <% if current_user.admin? %>
    You are an Admin
  <% end %>
  <% current_user.follow_requests.each do |request| %>
    <%= request.followerable.email %> Wants to follow you
    <%= button_to "Accept", accept_path(request.followerable) %>
    <%= button_to "Decline", decline_path(request.followerable) %>
  <% end %>
  Followers
  <% current_user.followers.each do |follower| %>
    <p> <b> <%= link_to follower.email, follower %> </b> </p>
  <% end %>
  Following
  <% current_user.following.each do |following| %>
    <p> <%= link_to following.email, following %> </p>
  <% end %>
<% end %>
<p style="color: green"><%= notice %></p>
<%= turbo_frame_tag :results, data: { turbo_action: 'advance' } do %>
  <div id="posts"></div>
  <%= turbo_frame_tag :pagination, loading: :lazy,
                      src: posts_path(format: :turbo_stream) %>
<% end %>
