<p style="color: green"><%= notice %></p>

<%= render @post %>
<%= link_to "Back to posts", posts_path %>
<% if user_signed_in? %>
  <% if current_user.id == @post.user.id %>
    <div>
      <%= link_to "Edit this post", edit_post_path(@post) %> |

      <%= button_to "Destroy this post", @post, method: :delete %>
    </div>
  <% end %>
<% end %>

<% render "comments/form", comment: @comment %>
